*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    transition: 0.5s;
}
 .sec-bg{
    background-image: url('/img/background3.jpg');
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 250px;
    filter: brightness(120%);
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-left: 30px;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.border{
    display: inline-block;
    text-transform: uppercase;
    background: rgb(255, 255, 255, .3);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    width: 900px;
    margin: 5% auto;
    margin-top: 30px;
    padding-left: 70px;
    padding-top: 50px;
}
.border:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    
    }
.image{
    height: 400px;
    width: 400px;
    border:ridge 3px #f08989;
}
.multimedia{
    display: flex;
    margin-left: 35px;
    align-items: center;
}
iframe{
    width: 450px;
    height: 300px;
    border:ridge 3px #f08989;
}

.title h2{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    text-align:left;
    margin-bottom: 10px;

}
.prep{
    padding: 20px 0px 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    background: rgb(255, 255, 255, .3);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    width:25%;
    margin:5% ;
    margin-left: 25px;
}
.prep:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
    }

.prep ul{
    width:180px;
    font-size: 25px;
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    list-style: none;
    
}
.prep ul li{
    margin-bottom: 10px;
}

.nutrition{
    padding: 20px 0px 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    background: rgb(255, 255, 255, .3);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    width:30%;
    margin:5% ;

}
.nutrition:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
    }

.nutrition ul{
    width:180px;
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    list-style: none;
    
}
.nutrition ul li,h3,h4{
    margin-bottom: 10px;
}
.review img{
    margin-top: 5px;
    height: 30px;
    margin-bottom: 5px;
}
.review h2{
    margin-top: 9px;
    margin-left: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.review{
    display: flex;
    margin-bottom: 20px;
}
.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 195px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgba(255, 255, 255, 0.123); 
    color: black; 
    border: 2px solid #f44336;
  }
  .button:hover {
    background-color: #f44336;
    color: white;
  }
.media{
    display: flex;
}




.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

footer p{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Arvo', serif;
    background-color: black;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
  }