body {
    background-image: url('https://img.freepik.com/free-vector/food-seamless-pattern-black-white_350552-142.jpg');
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.content {
    padding: 3rem 8rem;
    display: inline-block;
    text-transform: uppercase;
    background: #ffffff;
    position: center;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:dashed 5px rgb(0, 0, 0, 2);
}

h1,h2,h3, .section{
    
    color: rgb(18, 6, 71);
    font-family: 'Special Elite', cursive;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

ul,p,ol,a {
    width: 450px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    
}

img {
    height: 500px;
    width: 500px;
    border: 3px solid #333333;
}